---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="LIDE ČESKÝ! – Osvobozené České Slovo, 7. května 1945">
    <div class="container">
        <div class="header">
            Osvobozené České Slovo, 7. května 1945
        </div>
        <article>
            <h1>LIDE ČESKÝ!</h1>
            <div class="content">
                <p>Česká národní rada jako představitelka revolučního hnutí českého lidu a jako zmocněnec vlády
                    Československé republiky v Košicích se ujíma dnešním dnem moci vládní a výkonné na území Čech,
                    Moravy a Slezka.</p>
                <p>Pod údery hrdinných spojeneckých armád a pod údery aktivního odporu českého lidu zanikl tak řečený
                    protektorát Čechy a Morava, který nám byl Němci vnucen, a tím zanikla veškerá správní moc,
                    vykonávána protektorátní vládou a německými úřady. [...]</p>
                <p>Česká národní rada se obrací v této historické chvíli k českému obyvatelstvu s výzvou, aby bylo v
                    bojové pohotovosti a čekalo na další pokyny a opatření České národní rady.</p>
            </div>
            <div class="subtitle">
                V Praze 5. května 1945 <br>
                ČESKÁ NÁRODNÍ RADA
            </div>
            <ContinueButton href="/ceske-slovo/2" readTime={5}/>
        </article>
    </div>
</Layout>