---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="LIDE ČESKÝ! – Osvobozené České Slovo, 7. května 1945">
    <div class="container">
        <div class="header">
            Osvobozené České Slovo, 7. května 1945
        </div>
        <article>
            <h2>NOVÝ NÁPOR RUDÉ ARMÁDY DO ČECH</h2>
            <div class="content">
                <p>ČTK - Londýn 7. května. Reuterova kancelář oznamuje: Pražská rozhlasová stanice, která je v německých
                    rukou, jejíž vysílání bylo dnes zachyceno v Londýně, prohlásila: Sovětské vojsko, postupující do
                    sudetské oblasti, podniká nápor do Saska. Reuter k tomu uvádí: Je to první náznak nového náporu Rudé
                    armády do Čech a severu.</p>
            </div>

            <br>

            <h2>Američané jsou v Berouně - Rusové v Olomouci</h2>
            <p class="perex">
                Praha 7. května, 4.55 hod.: Americké oddíly postupující na Prahu z prostoru Plzně, obsadily Beroun a
                postupují dále ku Praze. Podle ruské zprávy obsadili Rusové na Moravě Olomouc, kde se armády maršála
                Malinovského a generála Jeremenka spojily.
            </p>

            <ContinueButton href="/ceske-slovo/4" readTime={10}/>
        </article>
    </div>
</Layout>