---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Shrnutí">
    <div class="container">
        <div class="header">
            Osvobozené České Slovo, 7. května 1945
        </div>
        <div>
            <h1>Vyhlášení konce protektorátu a vojenský postup spojenců</h1>
            <div class="content">
                <p>
                    <strong>Dne 5. května 1945</strong> vydala <strong>Česká národní rada</strong> prohlášení, ve kterém oznámila převzetí
                    <strong>vládní a výkonné moci</strong> na území Čech, Moravy a Slezska. Tento krok a za několik dní následující kapitulace německých vojsk, znamenal <strong>konec tzv. Protektorátu Čechy a Morava</strong>,
                    jenž byl vnucen německou okupací. Rada vyzvala obyvatelstvo k pohotovosti a poslušnosti jejím pokynům.
                </p>
                <p>
                    <strong>Ve stejné době</strong> se v mezinárodním zpravodajství objevily zprávy o novém <strong>náporu Rudé armády</strong> do
                    Čech a o postupu <strong>amerických jednotek do Berouna</strong>. Sovětská vojska mezitím obsadila <strong>Olomouc</strong>, kde se
                    spojily armády maršála Malinovského a generála Jeremenka.
                </p>
                <ContinueButton href="/narodni-obroda/" readTime={7} text="Pokračovat do dalších novin" />
            </div>
        </div>
    </div>
</Layout>
