---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Praha dnes uvítá svého presidenta - Rudé právo, 16. května 1945">
    <div class="container">
        <div class="header">
            Rudé právo, 16. května 1945
        </div>
        <article>
            <h1>Praha dnes uvítá svého presidenta</h1>
            <div class="content">
                <p>
                    President Československé republiky, dr Edvard Beneš, vrací se dnes po více než šestiletém působení v
                    zahraničí opět do Prahy, osvobozené slavnou Rudou armádou, aby tak symbolicky korunoval a dovršil
                    výsledek veškeré své zahraniční práce pro náš stát. Praha a s ní celý český národ se chystá uvítat
                    státníka, jehož osobnost a životní práce přispěly k tomu, že se mezinárodní postavení Československa
                    upevnilo, a který má také zásluhu na tom, že republika vchází do nového života bez otřesů a krisí,
                    jakých jsme svědky v některých evropských zemích. Svým historickým projevem ve Slovenské národní
                    radě, kterým podepřel program vlády, přispěl k vyjasnění poměru mezi Čechy a Slováky a tím k vnitřní
                    konsolidaci republiky v nejzákladnější otázce.
                </p>
                <p>
                    Přesto, že se jej snažili okupanti a jejich stvůry nejhanebnějšími pomluvami i nejrafinovanějším
                    chytráctvím připravit o jeho autoritu, zůstal dr Beneš uznávaným představitelem národa. Byla to
                    především politika presidenta Beneše v základní otázce příští státní bezpečnosti, t. j. jeho
                    zahraničně politická orientace, která tyto pokusy předem učinila marnými. Patřil k těm málo
                    státníkům předválečné Evropy, kteří odhadli velikou úlohu Sovětského svazu a jeho nepostradatelnost
                    pro budování evropského a světového míru v době, kdy zejména u západních mocností převládaly
                    tendence Sovětský svaz z mezinárodní spolupráce vylučovat. […]
                </p>
            </div>
            <ContinueButton href="/rude-pravo/2" readTime={8}/>
        </article>
    </div>
</Layout>