---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Dělníci Českomoravské děkují Stalinovi - Rudé právo, 16. května 1945">
    <div class="container">
        <div class="header">
            Rudé právo, 16. května 1945
        </div>
        <article>
            <h2>Dělníci Českomoravské děkují Stalinovi</h2>
            <div class="content">
                <p>
                    Českomoravské strojírny v Praze zahájily 14. května práci prozatím projevem dělnictva. Předseda
                    revoluční závodní rady v Karlíně, soudr. Mráz, vyzvedl illegální činnost členů revoluční závodní
                    rady a vzdal čest padlým bojovníkům na barikádách. Inž. soudr. Hanzálek naznačil technický program
                    závodu pro nejbližší buducnost. Uznání účastí mládeže na vítězství projevil soudruh Mrázek. Projev
                    zakončil soudr. Nachtman výzvou k další práci. […]
                </p>
            </div>
            <ContinueButton href="/rude-pravo/shrnuti" readTime={5}/>
        </article>
    </div>
</Layout>