---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Shrnutí">
    <div class="container">
        <div class="header">
            Rudé právo, 16. května 1945
        </div>
        <div>
            <h1>Beneš v Praze</h1>
            <div class="content">
                <p>
                    16. května 1945 přiletěl Edvard Beneš do Prahy a začal znovu vykonávat funkci prezidenta republiky.
                    Z médií lze i vyčíst inklinaci společnosti k Sovětskému svazu a k socialistickým myšlenkám.
                </p>
                <ContinueButton href="/rude-pravo-2/" readTime={2} text="Pokračovat do dalších novin"/>
            </div>
        </div>
    </div>
</Layout>