---
import Layout from "../../layouts/Layout.astro";
import Quiz from "../../components/Quiz.astro";
---
<Layout title="Lidové noviny, 2. května 1945 ráno">
    <div class="container">
        <div class="header">
            Lidové noviny, 2. května 1945 ráno
        </div>
        <div>
            <h1>Vyberte pravdivé tvrzení</h1>

            <Quiz question="V troskách jakého města zemřel Adolf Hitler?" options={["Mnichov", "Berlín", "Vídeň", "Norimberk"]} correctAnswer="Berlín" nextLink="/lidovky/3" />
        </div>
    </div>
</Layout>

