---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <header>
        Lidové noviny, 2. května 1945 ráno
    </header>
    <div class="container">
        <div>
            <p>Tady prozatím končí tento návrh</p>
            <a role="button" href="/" class="continue">Domů</a>
        </div>
    </div>
</Layout>