---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Velkoadmirál Dönitz k německému lidu a branné moci - Lidové noviny, 2. května 1945 ráno">
    <header>
        Lidové noviny, 2. května 1945 ráno
    </header>
    <div class="container">
        <article>
            <h2>Velkoadmirál Dönitz k německému lidu a branné moci</h2>
            <div class="perex">
                <p>Velkoadmirál a Vůdcův nástupce obrátil se v rozhlase tímto provoláním k německému lidu a k německé
                    branné moci:</p>
                <p>
                    <cite>Němečtí mužové a ženy, vojáci německé branné moci! Náš Vůdce Adolf Hitler padl. Německý lid se
                        sklání v nejhlubším zármutku a úctě. Vůdce včas rozpoznal strašlivé nebezpečí bolševismu a
                        tomuto zápolení zasvětil své bytí. Na konci tohoto jeho boje a jeho pevné přímé životní cesty je
                        hrdinská smrt v hlavním městě Německé říše. [...] Zachovejte pořádek a kázeň v městě i na
                        venkově, konejte všichni svou povinnost na svých místech. Jenom tak budeme moci zmírnit utrpení,
                        které nastávající doba přinese každému z nás, a zabránit zhroucení. Učiníme-li, co je v našich
                        silách, ani Bůh nás po tak velkmé utrpení a obětech neopustí.</cite>
                </p>
            </div>
            <ContinueButton href="/lidovky/4" readTime={12}/>
        </article>
    </div>
</Layout>