---
import Layout from "../../layouts/Layout.astro";
import Quiz from "../../components/Quiz.astro";
---
<Layout title="Lidové noviny, 2. května 1945 ráno">
    <div class="container">
        <div class="header">
            Lidové noviny, 2. května 1945 ráno
        </div>
        <div>
            <h1>Vyberte pravdivé tvrzení</h1>

            <Quiz question="Co se veřejnost dozvěděla o smrti Adolfa Hitlera? Rozhodněte na základě útržků z novin."
                  options={["Spáchal sebevraždu ve svém bunkru", "Byl zastřelen bolševickým vojákem", "Padl hrdinnou smrtí", "Nezemřel"]}
                  correctAnswer="Padl hrdinnou smrtí" nextLink="/lidovky/shrnuti"/>
        </div>
    </div>
</Layout>

