---
import Layout from "../../layouts/Layout.astro";
import RedirectBar from "../../components/RedirectBar.astro";
---
<Layout title="Lidové noviny, 2. května 1945 ráno">
    <RedirectBar to="/lidovky/1"/>
    <div class="container">
        <div class="lidovky">
            <h1>LIDOVÉ NOVINY</h1>
            <div class="info">
                <div>ROČ. <strong>53</strong>. ČÍS. 104</div>
                <div>STŘEDA 2. KVĚTNA 1945 RÁNO</div>
                <div>* ZA 80 HALÉŘŮ</div>
            </div>
            <noscript>
                <a role="button" class="continue" href="/lidovky/1">Listovat</a>
            </noscript>
        </div>
    </div>
</Layout>

<style>
    .lidovky {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
        min-width: fit-content;
    }

    h1 {
        font-size: 10vw;
        font-style: italic;
        margin: 0;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid var(--primary);
        border-bottom: 1px solid var(--primary);
        padding: 9px 0 3px 0;
        margin-bottom: 16px;
    }

    @media screen and (max-width: 742px) {
        .info {
            flex-direction: column;
            align-items: center;
            gap: 16px;
            text-align: center;
        }
    }

    a {
        width: 100%;
    }
</style>