---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Shrnutí">
    <div class="container">
        <div class="header">
            Lidové noviny, 2. května 1945 ráno
        </div>
        <div>
            <h1>Jak byla veřejnost informována o smrti Hitlera?</h1>
            <div class="content">
                <p>
                    <strong>Ve středu 2. května 1945</strong> přinesly Lidové noviny zprávu o smrti Adolfa Hitlera. Podle článku padl „v
                    boji proti bolševismu“ ve svém stanovišti v Říšské kanceláři v Berlíně. Smrt byla popsána jako
                    hrdinská a vrchol celoživotního zápasu proti bolševismu. Zároveň bylo oznámeno, že Hitler
                    jmenoval nástupcem <strong>velkoadmirála Karla Dönitze</strong>, který v rozhlase vyzval německý lid k disciplíně a
                    vytrvalosti v těžkých časech.
                </p>
                <p>
                    Skutečnost však byla jiná. <strong>Adolf Hitler nepadl v boji</strong>, jak uváděla propaganda, ale <strong>spáchal 30.
                    dubna 1945 sebevraždu</strong> – spolu se svou novomanželkou Evou Braunovou – ve svém bunkru
                    pod Říšskou kanceláří.
                </p>
                <ContinueButton href="/ceske-slovo/" readTime={7} text="Pokračovat do dalších novin" />
            </div>
        </div>
    </div>
</Layout>