---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container">
		<div>
			<h1>Novinové bádání</h1>
			<h2>k 80. výročí od konce 2. světové války</h2>
			<p>Podívejte se jak dobová média hleděla na aktuální dění.</p>
			<a role="button" href="/lidovky">Začít</a>
		</div>
	</div>
</Layout>
