---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container">
		<div>
			<h1>Analýza tisku</h1>
			<h2>k 80. výročí od konce 2. světové války</h2>
			<p>Podívejte se jak dobová média hleděla na aktuální dění.</p>
			<noscript>
				Pro správné fungování této stránky doporučujeme zapnout JavaScript. Plná funkčnost bez JavaScriptu není garantovaná.
			</noscript>
			<a role="button" href="/lidovky">Začít</a>
		</div>
	</div>
</Layout>

<style>
	noscript {
		text-align: center;
		margin: 16px 0;
		background-color: coral;
		color: var(--primary);
		padding: 16px;
		border-radius: 8px;
		font-size: 1.5rem;
	}
</style>
