---
import Layout from "../layouts/Layout.astro";
import ContinueButton from "../components/ContinueButton.astro";
---
<Layout title="Konec">
    <div class="container">
        <div>
            <h1>Konec</h1>
            <p>Děkuji Vám za využití této webové stránky.
            </p>
            <p>
                Pokud narazíte na jakékoli nesrovnalosti, chyby, překlepy nebo chcete-li poskytnout zpětnou vazbu,
                neváhejte mi napsat na e-mail: <a href="mailto:janstefanca@seznam.cz">janstefanca@seznam.cz</a>.
                Mějte prosím na paměti, že tento projekt je čistě volnočasovou, dobrovolnou a neziskovou aktivitou.
            </p>
            <p>
                Tuto webovou stránku můžete volně sdílet a používat dle vlastního uvážení – všechny úryvky jsou
                tisknutelné (Ctrl+P) a můžete je využít například jako doplněk k výuce.
            </p>
            <p>
                Pokud byste chtěli podpořit další fungování tohoto projektu, můžete tak učinit <a
                    href="https://ko-fi.com/PanJohnny">zde</a>.
            </p>
            <p class="subtitle">
                <strong>
                    Jan Štefanča
                </strong>
                <br>
                student Gymnázia Litoměřická, Praha 9
            </p>
            <ContinueButton href="/" text="Úvod" readTime={-1}/>

            <h2>Sdílení</h2>
            <p>Web naleznete pod odkazem: kveten45.panjohnny.me</p>
            <p>Další možností je využít QR kód, ten stáhnete kliknutím na něj</p>
            <a href="/QR.png" download><img src="/QR.png" alt="QR kód" class="qr-code"></a>
        </div>
    </div>
</Layout>

<style>
    .qr-code {
        max-width: 80vw;
        border-radius: 10px;
    }
</style>