---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Využitá literatura">
    <div class="container">
        <div>
            <h1>Využitá literatura</h1>
            <div class="content">
                <ul>
                    <li>
                        <i>Lidové noviny</i>. Brno: Vydavatelské družstvo Lidové strany v Brně, 02.05.1945, 53(104). ISSN 1802-6265. Dostupné také z: https://kramerius5.nkp.cz/uuid/uuid:a6667930-546f-11ed-8291-5ef3fc9bb22f
                    </li>
                    <li>
                        <i>Osvobozené České slovo</i>. V Praze: Melantrich, 07.05.1945, 1(2). Dostupné také z: https://kramerius5.nkp.cz/uuid/uuid:9667fa00-b11c-11ec-8458-5ef3fc9bb22f
                    </li>
                    <li>
                        <i>Rudé právo: Ústřední orgán Komunistické strany Československa</i>. Praha: Komunistická strana Československa, 16.5.1945(9). ISSN 0032-6569. Dostupné také z: https://www.digitalniknihovna.cz/vkol/uuid/uuid:8f6b0d30-e92d-11dc-ae8b-000d606f5dc6
                    </li>
                </ul>
            </div>
            <a role="button" href="javascript:history.back()" class="subtle-anchor">Zpět</a>
        </div>
    </div>
</Layout>