---
import Layout from "../layouts/Layout.astro";
---
<Layout title="O stránce">
    <div class="container">
        <div>
            <h1>O stránce</h1>
            <div class="content">
                <p>
                    Tato webová stránka je neziskový vzdělávací prostředek, vzniklý ze studentské iniciativy k 80.
                    výročí od konce 2. světové války. Jejím cílem je přiblížit dobové události a atmosféru
                    prostřednictvím útržků z historických novinových článků.
                </p>
                <p>
                    Zdroje útržků najdete <a href="/literatura">zde</a>. Pokud si myslíte, že došlo k porušení
                    autorského práva, neváhejte mě kontaktovat na <a href="mailto:janstefanca@seznam.cz">janstefanca@seznam.cz</a>.
                    Pokud chcete podpořit fungování stránky, můžete tak učinit <a
                        href="https://ko-fi.com/PanJohnny">zde</a>.
                </p>
                <p>
                    Zdrojový kód je dostupný na <a href="https://github.com/PanJohnny/vyroci-druhe-svetove">GitHubu</a>
                    a je licencován pod MIT licencí (viz soubor LICENSE), s výjimkou některých částí obsahu (některé
                    citované úryvky by mohli podléhast autorským právům), které jsou
                    převzaty z jiných děl. Tyto části nejsou zahrnuty do MIT licence
                    a zůstávají pod autorskými právy svých vlastníků.
                </p>
            </div>
            <a role="button" href="javascript:history.back()" class="subtle-anchor">Zpět</a>
        </div>
    </div>
</Layout>