---
interface Props {
    to: string;
}
let { to } = Astro.props as Props;
---

<div class="countdown" data-to={to}></div>
<style>
    .countdown {
        display: block;
        top: 0;
        left: 0;
        position: fixed;
        width: 0;
        height: 2px;
        background: var(--primary);
        animation: countdown 5s linear forwards;
    }

    @keyframes countdown {
        0% {
            width: 0;
        }
        100% {
            width: 100vw;
        }
    }
</style>

<script>
    import {navigate} from "astro:transitions/client";
    document.addEventListener("astro:page-load", () => {
        setTimeout(() => {
            let countdown = document.querySelector('.countdown') as HTMLDivElement;
            navigate(countdown.dataset.to);
        }, 5000);

        document.addEventListener("click", () => {
            let countdown = document.querySelector('.countdown') as HTMLDivElement;
            if (countdown)
                navigate(countdown.dataset.to);
        })
    })
</script>