---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Německo přemoženo – Národní obroda, 10. května 1945">
    <div class="container">
        <div class="header">
            Národní obroda, 10. května 1945
        </div>
        <article>
            <h1>Německo přemoženo</h1>
            <h2>Protokol o bezpodmínečné kapitulaci podepsán</h2>
            <div class="perex">
                <p>
                    Jak oznámil moskevský rozhlas v ranních hodinách ve svém německém vysílání, byl včera podepsán
                    protokol o bezpodmínečné kapitulaci Německa. Skládá se ze šesti bodů, z nichž prvý stanoví, že 8.
                    května ve 23.01 hod. musí být zastaven boj. Protokol je podepsán zástupci všech spojenců (SSSR,
                    Anglie, USA) a Francie. Je vyhotoven v jazyku ruském, anglickém a francouzském.
                </p>
            </div>
            <ContinueButton href="/narodni-obroda/2" readTime={5} />
        </article>
    </div>
</Layout>

<style>
    h1 {
        letter-spacing: 0;
        font-size: 3.8em;
    }

    @media screen and (max-width: 660px) {
        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 1em;
        }
    }
</style>