---
import Layout from "../../layouts/Layout.astro";
import RedirectBar from "../../components/RedirectBar.astro";
---
<Layout title="Národní obroda, 10. května 1945">
    <RedirectBar to="/narodni-obroda/1"/>
    <div class="container">
        <div class="obroda">
            <h1>Národní obroda</h1>
            <h2>Ústřední orgán Československé strany lidové</h2>
            <div class="info">
                <div>Roč. <strong>1</strong>. Čís. 2.</div>
                <div>V Brně ve čtvrtek 10. května 1945.</div>
                <div><strong>Cena 1 Kč</strong></div>
            </div>
            <noscript>
                <a role="button" class="continue" href="/narodni-obroda/1">Listovat</a>
            </noscript>
        </div>
    </div>
</Layout>

<style>
    .obroda {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
        min-width: fit-content;
    }

    h1 {
        font-size: 5vw;
        margin: 0;
        font-family: "Oswald", sans-serif;
    }

    @font-face {
        font-family: "Allura";
        src: url("/fonts/Allura-Regular.ttf") format("truetype");
    }

    h2 {
        font-size: 2.6vw;
        font-family: "Allura", cursive;
        margin: -0.82vw 0 0;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid var(--primary);
        border-bottom: 5px solid var(--primary);
        padding: 9px 0 3px 0;
        margin-bottom: 16px;
    }

    @media screen and (max-width: 742px) {
        .info {
            flex-direction: column;
            align-items: center;
            gap: 16px;
            text-align: center;
        }
    }

    @media screen and (max-width: 1100px) {
        h1 {
            font-size: 10vw;
        }

        h2 {
            font-size: 5.2vw;
            margin: -1.64vw 0 0;
        }
    }

    a {
        width: 100%;
    }
</style>