---
import Layout from "../../layouts/Layout.astro";
import ContinueButton from "../../components/ContinueButton.astro";
---
<Layout title="Shrnutí">
    <div class="container">
        <div class="header">
            Národní obroda, 10. května 1945
        </div>
        <div>
            <h1>Kapitulace Německa</h1>
            <div class="content">
                <p>
                    <strong>Na konci druhé světové války došlo ke dvěma podpisům bezpodmínečné kapitulace
                        Německa.</strong>
                </p>
                <p>
                    První proběhl 7. května 1945 ve 2 hodiny a 41 minut ráno ve francouzské Remeši. Kapitulace měla
                    vstoupit v platnost 8. května jednu minutu před půlnocí. Vyskytl se však problém: sovětský zástupce
                    nevyčkal na odpověď z Moskvy, zda smí dokument podepsat. Po několika hodinách čekání jej nakonec
                    podepsal – bez Stalinova souhlasu. Krátce nato však z Moskvy přišel jasný pokyn: „Nic
                    nepodepisovat!“ Stalin požadoval, aby byla kapitulace podepsána znovu – tentokrát v Berlíně, symbolu
                    sovětského vítězství, a za přítomnosti nejvyššího velení Rudé armády.
                </p>
                <p>
                    Na Stalinovo přání se tedy 8. května v Berlíně uskutečnil druhý podpis kapitulace. Došlo k němu však
                    až 9. května v 0:43. Právě proto se v Rusku konec války slaví 9. května.
                </p>
                <p>
                    Většina evropských zemí, které byly během války okupovány Německem, si připomíná Den vítězství 8.
                    května.
                </p>

                <ContinueButton href="/rude-pravo/" readTime={12} text="Pokračovat do dalších novin"/>
                <h4>Literatura</h4>
                <p>
                    <i>Kapitulace Německa a konec druhé světové války v Evropě</i>. In: Témata [online]. 11. 2. 2015
                    [cit. 05.05.2025]. Dostupné
                    z: https://temata.rozhlas.cz/kapitulace-nemecka-a-konec-druhe-svetove-valky-v-evrope-8044787
                </p>
            </div>
        </div>
    </div>
</Layout>